email=timengalytchev@mail.ru
registry=https://gitverse.ru/sbertech/ui-kit-ce
@v-uik/base:registry=https://gitverse.ru/sbertech/ui-kit-ce
strict-ssl=false
always-auth=true
//gitverse.ru/bvvmail/:_auth=
